




body{
    background-color: #141E30;
}

header{
    font-size: 1.3rem;
    font-size-adjust: 0.58;
	text-align: center;
    height:9vh;
    line-height: 8vh;
	color: #000000;
	background: #d52e3f;
	font-family: 'Niconne', cursive;
	font-weight: 700;
    text-shadow: 
            5px 5px 0px #efa032,
            10px 10px 0px #017e7f, 
            15px 15px 0px #c11a2b;
    position: sticky;
}

nav{
    overflow: hidden;
    padding: 10px;
    background-color: lightslategray;
    width: auto;
    position: relative;
}

a{
    color: #d52e3f;
    text-decoration: none;
    font-family: 'Niconne', cursive;
    font-size: 1.2rem;
}

/******* CLASSES ARE HERE *******/

/* This is navbar effect */
.p1{
    color: cyan; 
    font-size: large; 
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-shadow:2px 2px 5px black;
    float: right;
}
.p1:hover{
    color: gold;
}
/* Navbar Text animation effect */
:root {
    --shadow-color: #2980B9;
    --shadow-color-light: #D1F2EB;
}
.navtxt {
    font-size: 18px;
    font-family: 'Niconne';
    font-weight: normal;
    display: block;
    height: auto;
    margin-top: 3px;
}
.logo-1 {
    color: white;
    animation: neon 3s infinite;
}
@keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
}
.navleftfloat{
    float: left;
}
/* This is navbar logo image effect */
.logo-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
/*******/

a{
    color: #d52e3f;
    text-decoration: none;
    font-family: 'Niconne', cursive;
    font-size: 1.2rem;
}


