body{
    background-color: silver;
}

header{
    background-color: gold;
    text-align: center;
    height: 20px;
    width: 100%;
    color: Blue;
}

nav{
    overflow: hidden;
    padding: 10px;
    background-color: lightslategray;
    width: auto;
    position: relative;
}


/******* CLASSES ARE HERE *******/
.p1{
    color: cyan; 
    font-size: large; 
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-shadow:2px 2px 5px black;
    float: right;
}

/******* HOVERS ARE HERE *******/

.p1:hover{
    color: gold;
}

header:hover{
    color: gold;
    background-color: Blue;
}